body { 
    font-size: 16px; 
}
body {
    background-color: #fdf4e3;
}
h2 { 
    font-size: 1.5em; 
}
h2 {
    color:#D2691E;
}
h3 { 
    font-size: 1.5em; 
}
h3 {
    color:#D2691E;
}
a {
    color: #8B6914;
}